:root {
  --color-brand--1: #ffb545;
  --color-brand--2: rgb(41, 184, 152);

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: rgb(209, 209, 209, .4);
  padding: 2rem;
  display: flex;
  flex-direction: row-reverse;
  
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 2rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 12px -1px rgba(0,0,0);
}

.logo {
  height: 9rem;
   object-fit: contain;
  align-self: center;
  margin-bottom: 1rem;
}

.masks {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.masks::-webkit-scrollbar {
  width: 0;
}

.mask {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  gap: 0.75rem 1.5rem;
  border-left: 5px solid var(--color-brand--2);
}

.mask__title {
  font-size: 3.0rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.mask__details {
  display: flex;
}
.mask p {
  font-size: 1.6rem;
}

.mask__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.mask__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.mask__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.0rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 2rem;
  font-weight: 600;
}

.form__input {
  width: fit-content;
  min-width: 80px;
  padding: 0.3rem .5rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}


.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: 1.3rem;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.github-link:link,
.github-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.github-link:hover,
.github-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: -2px 0 8px -3px rgba(0,0,0);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
  width: fit-content;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

.hide {
  display: none;
}
